/*
.tab{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border: 1px solid rgb(176, 107, 245);
    background: rgb(219, 198, 240);
    color: rgb(71, 4, 40);
    margin-top: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.tab button{
    border: 1px solid rgb(176, 107, 245);
    background: rgb(219, 198, 240);
    color: rgb(71, 4, 40);
    border-radius: 3px;
}
.tab input{
    border:none;
    outline: 1px solid rgb(176, 107, 245);
   
    color: rgb(39, 3, 22);
    border-radius: 3px;
}

.jami{
    border: 1px solid rgb(176, 107, 245);
    background: rgb(219, 198, 240);
    color: rgb(71, 4, 40);
    margin:20px 5px;
    border-radius: 3px;
}

.logo{
    text-align: center;
    font-size: 25px;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
}



.itemlist{
    width: 50%;
    border: greenyellow 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(151, 230, 151);
}
.del{
    max-width: 50px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(151, 230, 151);
}

.completemark{
    text-decoration: line-through;
    color: salmon;
}
.tab span{
    display: flex;
    justify-content: space-between;
}*/

.topNav{
    background-color: #f7f701;
    width: 100%;
    padding: 10px;
}

.topNav h3{
    text-align: center;
    cursor: pointer;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.search input{
    width: 40%;
    border: none;
    border-bottom: 2px solid #d6d6d6;
    padding: 20px;
    outline: none;
}
.search input:focus{
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #c4b6b6;
}

.city{
    width: 300px;
    height: 300px;
    /* box-shadow: 0 0 10 px #e993934d; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    margin: 5% auto;
    text-align: center;
}
.detailes{
margin-top: 30px;
}
.detailes > .city-name{
    font-weight: 700;
}
.detailes > .city-temp{
    font-style: 20px;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 400;
}
